<div class="main-customer-wrapper">
  <h2>Customers</h2>

  <button [routerLink]="['/customers/new']" class="button-add-new" mat-raised-button color="primary">
    <mat-icon>add</mat-icon>
    New Customer
  </button>

  <table class="customer-table">
    <thead>
      <th>ID</th>
      <th>Custom ID</th>
      <th>Customer</th>
      <th>CPF</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>

    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{customer.id_customer}}</td>
        <td>{{customer.cid}}</td>
        <td>{{customer.customer}}</td>
        <td>{{customer.cpf}}</td>
        <td><mat-icon color="primary" [routerLink]="['update/', customer.id_customer]" >edit</mat-icon></td>
        <td><mat-icon color="warn" (click)="deteleItem(customer)"  >delete</mat-icon></td>
      </tr>
    </tbody>
  </table>
</div>
