<div class="submit-form">

  <div ngIf="!submitted">
    <mat-form-field matNativeControl appearance="fill">
      <mat-label>Customer</mat-label>
      <mat-select required [(ngModel)]="selling.id_customer" name="id_customer">
        <mat-option *ngFor="let customer of customers" [value]="customer.id_customer">
          {{customer.customer}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h2>Products</h2>

    <table>
      <thead>
        <th>ID</th>
        <th>Custom ID</th>
        <th>Product</th>
        <th>Price</th>
        <th>Qty</th>
      </thead>

      <tbody>
        <!-- <tr *ngFor="let product of products">
          <td>{{product.id_product}}</td>
          <td>{{product.pid}}</td>
          <td>{{product.product}}</td>
          <td>{{product.price}}</td>
          <td></td>
        </tr> -->
      </tbody>
    </table>

    <button mat-raised-button color="accent" (click)="createSelling()" class="btn btn-success">Submit</button>
  </div>
</div>
