<div>
  <div class="submit-form">
    <div *ngIf="!submitted">

      <mat-form-field class="example-full-width">
        <mat-label>Customer</mat-label>
        <input matInput
        placeholder="Ex. Joe"
        class="form-control"
        id="customer"
        required
        [(ngModel)]="customer.customer"
        name="customer">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Custom Customer ID</mat-label>
        <input matInput
        placeholder="Ex. USR120"
        type="text"
        class="form-control"
        id="cid"
        [(ngModel)]="customer.cid"
        name="cid"
        />
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="Ex. 123.456.789-10"
        type="text"
        class="form-control"
        id="cpf"
        [(ngModel)]="customer.cpf"
        name="cpf"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Birthday</mat-label>
        <input matInput placeholder="Ex. 01/01/2001"
        type="text"
        class="form-control"
        id="birthday"
        [(ngModel)]="customer.birthday"
        name="birthday"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Ex. johndoe@email.com"
        type="email"
        class="form-control"
        id="email"
        [(ngModel)]="customer.email"
        name="email"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Ex. Street 1"
        type="text"
        class="form-control"
        id="address"
        [(ngModel)]="customer.address"
        name="address"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Address 2</mat-label>
        <input matInput placeholder="Ex. Street 2"
        type="text"
        class="form-control"
        id="address2"
        [(ngModel)]="customer.address2"
        name="address2"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>CEP</mat-label>
        <input matInput placeholder="Ex. 12345-234"
        type="text"
        class="form-control"
        id="cep"
        [(ngModel)]="customer.cep"
        name="cep"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>House Number</mat-label>
        <input matInput placeholder="Ex. 1ESQ, 1976"
        type="text"
        class="form-control"
        id="number"
        [(ngModel)]="customer.number"
        name="number"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input matInput placeholder="Ex. São Paulo"
        type="text"
        class="form-control"
        id="city"
        [(ngModel)]="customer.city"
        name="city"
        />
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="updateCustomer()" >Submit</button>
    </div>
  </div>
</div>
