<div class="selling-wrapper">
  <h2>Selling</h2>

  <button [routerLink]="['new']" class="button-add-new" mat-raised-button color="warn">
    <mat-icon>add</mat-icon>
    New Selling
  </button>


  <table class="selling-table">
    <thead>
      <th>ID</th>
      <th>Customer</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>

    <tbody>
      <tr *ngFor="let selling of sellings">
        <td>{{selling.id_selling}}</td>
        <td>{{selling.id_customer}}</td>

        <td><mat-icon color="primary" [routerLink]="['update/', selling.id_selling]" >edit</mat-icon></td>
        <td><mat-icon color="warn" (click)="deteleItem(selling)"  >delete</mat-icon></td>
      </tr>
    </tbody>
  </table>
</div>
