<app-navbar></app-navbar>

<div class="menu-wrapper">
  <button mat-raised-button color="primary" [matMenuTriggerFor]="customerMenu">Customer Options</button>
  <button mat-raised-button color="accent" [matMenuTriggerFor]="productMenu">Product Options</button>
  <button mat-raised-button color="warn" [matMenuTriggerFor]="sellingMenu">Selling Options</button>
</div>

<mat-menu #customerMenu="matMenu">
  <button routerLink="/customers" mat-menu-item>List</button>
  <button routerLink="/customers/new" mat-menu-item>Create</button>
</mat-menu>


<mat-menu #productMenu="matMenu">
  <button routerLink="/products" mat-menu-item>List</button>
  <button routerLink="/products/new" mat-menu-item>Create</button>
</mat-menu>

<mat-menu #sellingMenu="matMenu">
  <button routerLink="/sellings" mat-menu-item>List</button>
  <button routerLink="/sellings/new" mat-menu-item>Create</button>
</mat-menu>

<router-outlet></router-outlet>
