<h1>Summary</h1>

<div class="index-wrapper">
  <div>
    <h3>Total Customers</h3><br>
    <span class="item-qty">{{totalcustomers}}</span>
  </div>

  <div>
    <h3>Total Products</h3><br>
    <span class="item-qty">{{totalproducts}}</span>
  </div>

  <div>
    <h3>Total Sellings</h3><br>
    <span class="item-qty">{{totalsellings}}</span>
  </div>
</div>
