<div class="products-wrapper">
  <h2>Products</h2>

  <button [routerLink]="['/products/new']" class="button-add-new" mat-raised-button color="accent">
    <mat-icon>add</mat-icon>
    New Product
  </button>

  <table class="product-table">
    <thead>
      <th>ID</th>
      <th>Custom ID</th>
      <th>Product</th>
      <th>Price</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>

    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.id_product}}</td>
        <td>{{product.pid}}</td>
        <td>{{product.product}}</td>
        <td>{{product.price}}</td>
        <td><mat-icon color="primary" [routerLink]="['/products/update/', product.id_product]" >edit</mat-icon></td>
        <td><mat-icon color="warn" (click)="deteleItem(product)"  >delete</mat-icon></td>
      </tr>
    </tbody>
  </table>
</div>
