<div>
  <div class="submit-form">
    <div *ngIf="!submitted">


      <mat-form-field class="example-full-width">
        <mat-label>Product</mat-label>
        <input matInput
        placeholder="Ex. Bag"
        class="form-control"
        id="product"
        required
        [(ngModel)]="product.product"
        >
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Price</mat-label>
        <input matInput
        placeholder="Ex. 9.99"
        class="form-control"
        id="price"
        required
        [(ngModel)]="product.price"
        >
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Custom Product ID</mat-label>
        <input matInput
        placeholder="Ex. P253"
        class="form-control"
        id="pid"
        [(ngModel)]="product.pid"
        >
      </mat-form-field>

      <button mat-raised-button color="accent" (click)="updateProduct()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Product was submitted successfully!</h4>
      <button class="btn btn-success" (click)="updateProduct()">Add</button>
    </div>
  </div>
</div>
